.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
   /* background-color: #27445D; */
min-height: 100vh;
    /* border: rgb(208, 255, 0) 4px solid; */

    color: #EFE9D5;
}

.main-container .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    

    /* border: rgb(247, 0, 255) 4px solid; */

    text-align: center;
}
